<div class="container-fluid d-flex justify-content-center">
    <button (click)="toggleSortDirection()" class="btn btn-dark">Sort {{sortDirection}}</button>
</div>

<div *ngFor="let country of filteredCountries" class="container">
    <app-country [recievedData] = "country"></app-country>
</div>

<div class="container-fluid d-flex justify-content-center">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-dark">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage * itemsPerPage >= data.length" (click)="onPageChange(currentPage + 1)"class="btn btn-dark">Next</button>
  </div>
